@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] {
	--text: #091302;
	--background: #f6faf4;
	--primary: #86D95D;
	--secondary: #7ed5ee;
	--accent: #42f4b6;

	--text-50: #f1fde8;
	--text-100: #e2fad1;
	--text-200: #c5f5a3;
	--text-300: #a8f075;
	--text-400: #8bec46;
	--text-500: #6ee718;
	--text-600: #58b913;
	--text-700: #428a0f;
	--text-800: #2c5c0a;
	--text-900: #162e05;
	--text-950: #0b1702;

	--background-50: #f1f7ee;
	--background-100: #e2efdc;
	--background-200: #c6dfb9;
	--background-300: #a9cf96;
	--background-400: #8cbf73;
	--background-500: #70af50;
	--background-600: #598c40;
	--background-700: #436930;
	--background-800: #2d4620;
	--background-900: #162310;
	--background-950: #0b1108;

	--primary-50: #f0faea;
	--primary-100: #e0f5d6;
	--primary-200: #c1ecac;
	--primary-300: #a3e283;
	--primary-400: #84d85a;
	--primary-500: #65cf30;
	--primary-600: #51a527;
	--primary-700: #3d7c1d;
	--primary-800: #285313;
	--primary-900: #14290a;
	--primary-950: #0a1505;

	--secondary-50: #e8f8fc;
	--secondary-100: #d2f1f9;
	--secondary-200: #a5e2f3;
	--secondary-300: #78d4ed;
	--secondary-400: #4ac6e8;
	--secondary-500: #1db7e2;
	--secondary-600: #1793b5;
	--secondary-700: #126e87;
	--secondary-800: #0c495a;
	--secondary-900: #06252d;
	--secondary-950: #031217;

	--accent-50: #e7fef6;
	--accent-100: #cffcec;
	--accent-200: #9ff9da;
	--accent-300: #6ef7c7;
	--accent-400: #3ef4b4;
	--accent-500: #0ef1a2;
	--accent-600: #0bc181;
	--accent-700: #089161;
	--accent-800: #066041;
	--accent-900: #033020;
	--accent-950: #011810;
}

[data-theme="dark"] {
	--text: #f3fded;
	--background: #070a05;
	--primary: #4fa126;
	--secondary: #116a83;
	--accent: #0bbc7e;

	--text-50: #0a1703;
	--text-100: #142e05;
	--text-200: #285c0a;
	--text-300: #3c8a0f;
	--text-400: #50b814;
	--text-500: #64e619;
	--text-600: #83eb47;
	--text-700: #a2f075;
	--text-800: #c1f5a3;
	--text-900: #e0fad1;
	--text-950: #f0fce8;

	--background-50: #0c1109;
	--background-100: #182211;
	--background-200: #304422;
	--background-300: #476633;
	--background-400: #5f8844;
	--background-500: #77aa55;
	--background-600: #92bb77;
	--background-700: #adcc99;
	--background-800: #c9ddbb;
	--background-900: #e4eedd;
	--background-950: #f1f6ee;

	--primary-50: #0a1505;
	--primary-100: #14290a;
	--primary-200: #285313;
	--primary-300: #3d7c1d;
	--primary-400: #51a527;
	--primary-500: #65cf30;
	--primary-600: #84d85a;
	--primary-700: #a3e283;
	--primary-800: #c1ecac;
	--primary-900: #e0f5d6;
	--primary-950: #f0faea;

	--secondary-50: #031217;
	--secondary-100: #06252d;
	--secondary-200: #0c495a;
	--secondary-300: #126e87;
	--secondary-400: #1793b5;
	--secondary-500: #1db7e2;
	--secondary-600: #4ac6e8;
	--secondary-700: #78d4ed;
	--secondary-800: #a5e2f3;
	--secondary-900: #d2f1f9;
	--secondary-950: #e8f8fc;

	--accent-50: #011810;
	--accent-100: #033020;
	--accent-200: #066041;
	--accent-300: #089161;
	--accent-400: #0bc181;
	--accent-500: #0ef1a2;
	--accent-600: #3ef4b4;
	--accent-700: #6ef7c7;
	--accent-800: #9ff9da;
	--accent-900: #cffcec;
	--accent-950: #e7fef6;
}

@font-face {
	font-family: 'Bingo';
	src: url('../fonts/BingoDilan.ttf') format('truetype');
  }

@font-face {
	font-family: 'Cheria';
	src: url('../fonts/cherif.woff') format('woff');
  }

@font-face {
	font-family: 'Nueva';
	src: url('../fonts/Nueva\ Garcia.ttf') format('truetype');
  }

@font-face {
	font-family: 'BlackJack';
	src: url('../fonts/BlackJackPersonalUseRegular-lgO6y.ttf') format('truetype');
  }

@font-face {
	font-family: 'Night';
	src: url('../fonts/NightMichyPersonalUseOnly.otf') format('opentype');
  }

@font-face {
	font-family: 'Que';
	src: url('../fonts/Quebecks-rgX4L.ttf') format('truetype');
  }

@font-face {
	font-family: 'Wobbly';
	src: url('../fonts/SuperWoobly-8MJlz.ttf') format('truetype');
  }

  .nav-name {
	font-family: 'Night', sans-serif;
	font-size: 22px;
	color: var(--text) !important;
  }

  .small-nav-name2 {
	font-family: 'Que', sans-serif;
	font-size: 14px;
  }

  .small-nav-name4 {
	font-family: 'BlackJack', sans-serif;
	font-size: 14px;
  }

  .small-nav-name5 {
	font-family: 'Nueva', sans-serif;
	font-size: 14px;
  }

  .small-nav-name6 {
	font-family: 'Cheria', sans-serif;
	font-size: 14px;
  }

  .small-nav-name {
	font-family: 'Bingo', sans-serif;
	font-size: 18px;
	color: var(--text) !important;
  }

  .color-effect {
    background: linear-gradient(120deg,var(--primary),var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/* Hero container styles */
.hero-container {
	display: flex;
	align-items: center;
	justify-content: center;
  }

  /* Left side content styles */
  .hero-content {
	max-width: 50%;
	margin-right: 2rem; /* Add margin to the right to position text slightly to the left */
	text-align: left; /* Align text to the right */
display: flex;
flex-direction: column;
justify-content: center;
gap: 2rem;
width: 60%;
  }

  .hero-title {
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 1rem;
	font-family: 'Night', sans-serif;
	color: var(--text) !important;
  }

  .hero-subtitle {
	font-size: 22px;
	color: var(--text) !important;
	font-family: 'Bingo', sans-serif;
  }

  /* Right side image styles */
  .hero-image {
	margin-left: 2rem; /* Add margin to the left to position image slightly to the right */
	margin-right: 2rem;
	position: relative;
	width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

	.hero-image:after {
		content: "";
		position: absolute;
		top: 30px;
		right: 0;
		bottom: 0;
		left: 40px;
		width: 100%;
		height: 100%;
		background-color: var(--background-100) !important;
		border-radius: 90% 40% 70% 60% / 80% 100% 38% 40%;
		z-index: -1;
	  }

  .hero-image img {
	width: 100%; /* Ensure image fills its container */
	height: auto;
	border-radius: 90% 40% 70% 60% / 80% 100% 38% 40%;
	position: relative;
	object-fit: cover;
  }

  .hero-button {
	background-color: var(--primary) !important;
	color: var(--text) !important;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-family: 'Bingo', sans-serif;
	letter-spacing: 2px;
	font-size: 18px;
  }

  .hero-button:hover {
	background-color: var(--accent-700);
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
	gap: 8em;
	margin: 5rem 0;
  }

  .main-one {
    display: flex;
	padding: 0 12%;
	height: 88vh;
  }

  .hero {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
	align-items: center;
  }

  .hero-text {
	display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    width: 60%;
  }

  .hero-img {
	width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

* {
	box-sizing: border-box;
	scroll-padding-top: 3em;
}

.logo {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30%;
}

.account-checkbox-container {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25%;
}

.checkbox-container {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.account-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 45%;
}

.navbar {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: .5rem 12%;
    align-items: center;
	padding: .5rem 7%;
	position: fixed;
	border-bottom: 1px solid var(--accent);
	background-color: var(--background) !important;
	z-index: 9997;
}

body {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: auto !important;
    font-family: 'Poppins', ui-sans-serif;
    background-color: var(--background) !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
    line-height: 1.75;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: var(--secondary-800) !important;
  width: 52px;
  height: 22px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pi-user {
	color: var(--text) !important;
}

.pi-shopping-cart {
	color: var(--text) !important;
}

.pi-moon {color: #000000;}

.pi-sun {color: #ffee02;}

.checkbox-label .ball {
  background-color: var(--background-50) !important;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 5px;
  top: 3px;
  border-radius: 50%;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(27px);
}

.section-cards {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
}

.section-card {
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 2.5rem;
    gap: 20px;
    background-color: var(--primary5);
    border-radius: var(--border1);
}
.editorial {
	display: block;
	width: 100%;
	height: 60px;
	max-height: 60px;
	margin: 0;
	position:absolute;
	left:0px;
	top:0px;
	float:left;
	background-color: var(--background) !important;
  }

  .parallax1 > use {
	animation: move-forever1 10s linear infinite;
	&:nth-child(1) {
	  animation-delay: -2s;
	}
  }
  .parallax2 > use {
	animation: move-forever2 8s linear infinite;
	&:nth-child(1) {
	  animation-delay: -2s;
	}
  }
  .parallax3 > use {
	animation: move-forever3 6s linear infinite;
	&:nth-child(1) {
	  animation-delay: -2s;
	}
  }
  .parallax4 > use {
	animation: move-forever4 4s linear infinite;
	&:nth-child(1) {
	  animation-delay: -2s;
	}
  }
  @keyframes move-forever1 {
	0% {
	  transform: translate(85px, 0%);
	}
	100% {
	  transform: translate(-90px, 0%);
	}
  }
  @keyframes move-forever2 {
	0% {
	  transform: translate(-90px, 0%);
	}
	100% {
	  transform: translate(85px, 0%);
	}
  }
  @keyframes move-forever3 {
	0% {
	  transform: translate(85px, 0%);
	}
	100% {
	  transform: translate(-90px, 0%);
	}
  }
  @keyframes move-forever4 {
	0% {
	  transform: translate(-90px, 0%);
	}
	100% {
	  transform: translate(85px, 0%);
	}
  }
  .custom-shape-divider-top-1700550481 {
	position: absolute;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	bottom: 0px;
}

.custom-shape-divider-top-1700550481 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 133px;
}

.custom-shape-divider-top-1700550481 .shape-fill {
	background-color: var(--background) !important;
}

.test {
	position: relative;
}

  .main-two {
   	display: flex;
	padding: 0 12%;
	height: 88vh;
	background-color: var(--accent-300);
  }

  .main-three {
	display: flex;
	padding: 0 12%;
	height: 88vh;
	background-color: var(--background) !important;
  }